.main-container {
     display: flex;
     flex-direction: column;
     height: inherit;
}

.contact {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.icon {
    margin: 0 10px;
}

.icon svg {
    height: 40px;
    width: 40px;
}

.menu-icon svg {
    height: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}
